.cta {
  background-image: url(../img/vivifique-background.png);
  padding: 50px 0;

  .cta__inside {
    .cta__header {
      margin-bottom: 30px;
      font-family: $font-primary;
      text-align: center;

      h2 {
        font-weight: 300;
        color: $primary;
        font-size: $title-1;
      }
    }
    .cta__body {
      display: flex;
      justify-content: center;
    }
  }
}

@include for-desktop-up {
  .cta {
    padding: 150px 0;

    .cta__inside {
      .cta__header {
        margin-bottom: 30px;
        font-family: $font-primary;
        text-align: center;

        h2 {
          font-weight: 300;
        }
      }
      .cta__body {
        display: flex;
        justify-content: center;
      }
    }
  }
}
