.ambientacao {
  padding: 30px 0;

  .ambientacao__header {
    margin-bottom: 30px;
  }
  .ambientacao__body {
    .ambientacao_images {
      display: flex;
      flex-wrap: wrap;

      .ambientacao__image {
        width: 100%;
        position: relative;
        padding: 10px;
        overflow: hidden;
        height: 200px;

        .ambientacao__image-the-image {
          position: relative;
          width: 100%;
          height: inherit;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          img:hover {
            max-width: 110%;
            min-width: 110%;
          }

          img {
            transition: all 0.4s;
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            overflow: hidden;
          }
        }
        .ambientacao__image-title {
          position: absolute;
          cursor: pointer;
          bottom: 0;
          left: 10px;
          padding: 15px;
          background: #4b3a30cf;
          color: $white;

          p {
            font-size: $content-small;
            font-family: $font-secondary;
          }
        }
      }
    }
  }
}

@include for-tablet-portrait-up {
  .ambientacao {
    padding-top: 50px;

    .ambientacao__header {
      margin-bottom: 40px;

      h1 {
        margin-bottom: 10px;
      }

      p {
        max-width: 300px;
      }
    }

    .ambientacao__body {
      .ambientacao_images {
        display: flex;
        flex-wrap: wrap;

        .ambientacao__image {
          height: 310px;
        }
      }
    }
  }
}

@include for-desktop-up {
  .ambientacao {
    padding-top: 50px;

    .ambientacao__header {
      margin-bottom: 40px;

      h1 {
        font-size: $title-1;
        margin-bottom: 10px;
      }
    }

    .ambientacao__body {
      .ambientacao_images {
        .ambientacao__image {
          width: 50%;

          .ambientacao__image-the-image {
            img {
            }
          }
        }
      }
    }
  }
}
