.vivifique {
  background-image: url(../img/background-folha-2.png);
  background-position: center;
  background-repeat: repeat;
  padding: 40px 0;

  .vivifique__inside {
    color: $white;
  }
}

@include for-desktop-up {
  .vivifique {
    background-image: url(../img/background-folha-2.png),
      url(../img/folha-textura.png);
    background-position: center;
    background-repeat: no-repeat, repeat;
    padding: 53px 0 50px;
    height: 338px;
    background-size: contain, 104%;

    .vivifique__inside {
      color: $white;

      .content p {
        font-size: 14px;
        padding-left: 3px;
        line-height: 18.4px;
      }
    }
  }
}
