.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-email {
  background-image: url(../img/icone-email.png);
}
.icon-whatsapp {
  background-image: url(../img/icone-whatsapp.png);
}
.icon-phone {
  background-image: url(../img/icone-telefone.png);
}
.icon-location {
  background-image: url(../img/icone-local.png);
}
.icon-instagram {
  background-image: url(../img/icone-instagram.png);
}
.icon-facebook {
  background-image: url(../img/icone-facebook.png);
}
.icon-email--brown {
  background-image: url(../img/icone-email.svg);
}
.icon-whatsapp--brown {
  background-image: url(../img/icone-whatsapp.svg);
}
.icon-phone--brown {
  background-image: url(../img/icone-telefone.svg);
}
.icon-location--brown {
  background-image: url(../img/icone-location.svg);
}
