.container {
  padding: 0 20px;
  margin: 0 auto;
}

@include for-tablet-portrait-up {
  .container {
    width: 42rem;
  }
}

@include for-desktop-up {
  .container {
    width: 71.875rem;
    padding: 0;
  }
}

@include for-big-desktop-up {
  .container {
    width: 112.5rem;
    padding: 0;
  }
}
