.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: $mobile-up) {
  .container {
    width: 42rem;
  }
}

@media only screen and (min-width: $desktop-up) {
  .container {
    width: 71.875rem;
    padding: 0;
  }
}
