.footer {
  font-size: 14px;
  font-weight: 300;
  background: $primary-light;
  font-family: $font-primary;
  color: $white;
  font-weight: 400;
  padding: 40px 0;
  line-height: 26px;

  .footer__inside {
    .footer__columns {
      display: flex;
      flex-wrap: wrap;

      .footer__column:not(:last-child) {
        margin-bottom: 20px;
      }

      .footer__column {
        width: 100%;
        font-weight: 300;

        a {
          text-decoration: none;
          color: $white;
        }
      }

      .footer__column.logo {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;

        img {
          width: 150px;
        }
      }
      .footer__column.contact {
        width: auto;
        padding-right: 40px;

        p {
          display: flex;
          align-items: center;

          i {
            margin-right: 10px;
          }
          span {
            a {
            }
          }
        }
      }
      .footer__column.address {
        display: flex;
        width: auto;
        line-height: 20px;

        i {
          margin-right: 10px;
        }
        span {
          div {
          }
        }
      }
      .footer__column.social {
        display: flex;
        padding: 20px 0;

        a {
          margin-right: 20px;
          display: flex;
          align-items: center;

          i {
            margin-right: 7px;
            width: 20px;
            height: 20px;
          }
          span {
          }
        }
      }
    }
  }
}

@include for-desktop-up {
  .footer {
    padding: 142px 0 46px 0;

    .footer__inside {
      .footer__columns {
        align-items: flex-start;
        justify-content: space-between;

        .footer__column:not(:last-child) {
          margin-bottom: 0;
        }

        .footer__column {
          width: auto;
          margin-right: 40px;

          a {
            text-decoration: none;
            color: $white;
          }
        }

        .footer__column.logo:after {
          content: "";
          position: absolute;
          width: 810px;
          height: 254px;
          background-image: url(../img/linhas-2.png);
          background-repeat: no-repeat;
          top: -146px;
          background-size: 640px;
          left: -41px;
        }

        .footer__column.logo {
          margin-bottom: 0;
          position: relative;
          left: 8px;
          position: relative;

          img {
            width: 156px;
          }
        }
        .footer__column.contact {
          padding-right: 0;
          padding-left: 0;
          margin-top: -11px;

          p {
            display: flex;
            align-items: center;

            i {
              margin-right: 10px;
            }
            span {
              a {
              }
            }
          }
        }
        .footer__column.address {
          display: flex;
          width: auto;
          position: relative;
          top: -8px;
          left: -6px;
          font-size: 14px;
          margin-left: -44px;
          line-height: 18px;

          i {
            margin-right: 10px;
          }
          span {
            div {
            }
          }
        }
        .footer__column.social {
          padding: 0;
          margin-right: 0;
          position: relative;
          top: -14px;
          left: -7px;
          font-size: 16px;
          margin-left: -46px;

          a:last-child {
            margin-right: 0;
          }
          a {
            display: flex;
            align-items: center;

            i {
              margin-right: 7px;
              width: 30px;
              height: 30px;
            }
            span {
            }
          }
        }
      }
    }
  }
}
