$primary: #4b3a30;
$primary-light: "";
$primary-lighter: "";
$primary-dark: "";
$primary-darker: "";
$primary-transparent: "";

$secondary: "";
$secondary-light: "";
$secondary-lighter: "";
$secondary-dark: "";
$secondary-darker: "";

$dark: "";
$dark-transparent: "";
$light: "";

$black: #000;
$white: #fff;

$info: "";

$grey: "";
$grey-dark: "";
$grey-light: "";

$warning: "";
$warning-light: "";

$danger: "";
$danger-dark: "";

$success-dark: "";
$success: "";
$success-light: "";
$success-lighter: "";

$brown: #4b3a30;
